<?xml version="1.0"?>

<!-- A simple model of the racecar for rviz -->

<robot xmlns:xacro="http://ros.org/wiki/xacro" name="racecar">

  <xacro:property name="wheel_radius" value="0.24" />           <!-- ホイール半径 -->
  <xacro:property name="wheel_width" value="0.18" />            <!-- 後輪の幅 -->
  <xacro:property name="wheel_base" value="1.087" />            <!-- ホイールベース（前後中心間） -->
  <xacro:property name="wheel_tread" value="1.12" />            <!-- トレッド（後輪左右中心間） -->
  <xacro:property name="front_overhang" value="0.467" />        <!-- フロントオーバーハング -->
  <xacro:property name="rear_overhang" value="0.510" />         <!-- リアオーバーハング -->
  <xacro:property name="left_overhang" value="0.09" />          <!-- 左オーバーハング（後輪中心から車体左端まで） -->
  <xacro:property name="right_overhang" value="0.09" />         <!-- 右オーバーハング（後輪中心から車体右端まで） -->
  <xacro:property name="vehicle_height" value="2.2" />          <!-- 車両全高（センサ含む） -->
  <xacro:property name="max_steer_angle" value="0.64" />        <!-- 最大操舵角 [rad] -->

  <link name="base_link">
    <visual>
      <origin xyz="0 0 0" rpy="0 0 1.57"/>
      <geometry>
        <mesh filename="package://aichallenge_gym_ros/launch/kart.dae" scale="1 1 1"/>
      </geometry>
    </visual>
  </link>

</robot>
